a:link {
    color: #c6c6ec;
}

a:visited {
    color: #d9d9df;
}

a:hover {
    color: #d1d1ff;
}

body {
    text-align: center;
    color: #FFF;
    background: #000;
    font-size: 130%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.texts li {
    margin: 0.5em 0;
}

.centered {
    display: inline-block;
    background: #000;
}

.mhead {
    margin: 0 0 1em 0;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    background: #444;
    position: fixed;
    top: 0;
}

.foot {
    margin: 2em 0 0 0;
    padding: 0.5em;
    text-align: center;
    background: #444;
}

.ttl {
    margin: 1.5em 0 0 0;
    font-weight: bold;
}

:target::before {
    content: "";
    display: block;
    height: 3.2em;
    margin: -3.2em 0 0;
}

.texts {
    max-width: 38em;
    min-width: 15em;
    line-height: 150%;
    text-align: left;
    text-indent: 0;
    padding: 0 0.5em;
}

.menu_list {
    float: left;
    line-height: 0;
}

.menu_list a {
    padding: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu_list a:visited {
    background-color: #444;
    color: #fff;
    text-decoration: none;
}

.menu_list a:hover {
    background-color: #777;
    color: #fff;
    text-decoration: none;
}

.mhead ul {
    margin: 0.5em;
}

.mhead li {
    margin: 0.5em 0;
}

.small {
    font-size: 90%;
    text-indent: 2em;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
