* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #c6c6ec;
}

body {
  background: black;
  color: var(--font-color);
}

a {
  color: var(--font-color);
}

span {
  display: block;
  height: 6vh;
}

.navbar__wrap {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 99;
  height: 8vh;
}

.navbar {
  display: flex;
  list-style: none;
  width: 330px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100%;
}

.navbar a {
  font-size: 1.2rem;
}

a {
  color: var(--font-color);
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

a:after {
  bottom: -5px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: var(--font-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.hero {
  width: 80%;

  margin: 3rem auto;
  margin-top: 6rem;
  font-size: 1.4rem;
  padding: 4rem 0;
  border-bottom: 2px solid var(--font-color);
  border-top: 2px solid var(--font-color);
}

.hero a {
  font-size: 1.5rem;
  font-weight: bold;
}

.announcement {
  font-style: italic;
  border: 1px dashed var(--font-color);
  line-height: 1.5rem;
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

/* Timeline */

.timeline__title,
.publications__title {
  text-align: center;
  padding: 8px;
  margin: 10px;
  border-radius: 4px;
}

.timeline {
  position: relative;
  width: 10px;
  background: var(--font-color);
  margin: auto;
  margin-bottom: 100px;
  border-radius: 3px;
  color: black;
}

.timeline ul {
  list-style: none;
  margin: 15px;
  text-align: center;
}

.timeline li {
  position: relative;
  width: 200px;
  height: 100px;
  margin-top: 50px;
  border-radius: 4px;
  background: #dfd9f4;
  box-shadow: 5px 8px var(--font-color);
  background: #dfd9f4;
  opacity: 1;
  transform: scale(1, 1);
  transition: all 1s ease-in;
  padding: 1rem;
}

.timeline li:nth-child(even) {
  top: 20px;
  left: 30px;
}

.timeline li:nth-child(even)::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
  left: -55px;
  height: 30px;
  width: 30px;
  background-color: var(--font-color);
  border: 8px solid #2e2c67;
}

.timeline li:nth-child(even)::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 62px;
  left: -17px;
  height: 30px;
  width: 25px;
  background-color: #dfd9f4;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.timeline li:nth-child(odd)::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 62px;
  right: -17px;
  height: 30px;
  width: 25px;
  background-color: #dfd9f4;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.timeline li:nth-child(odd)::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  right: -55px;
  height: 30px;
  width: 30px;
  background-color: var(--font-color);
  border: 8px solid #2e2c67;
}

.timeline li:nth-child(odd) {
  right: 250px;
}

.in-view {
  opacity: 1;
  transform: scale(1, 1);
}

@media all and (max-width: 600px) {
  .timeline li:nth-child(odd) {
    top: 30px;
    left: 30px;
  }

  .timeline li:nth-child(odd)::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    left: -55px;
    height: 30px;
    width: 30px;
    background-color: var(--font-color);
    border: 8px solid #2e2c67;
  }

  .timeline li:nth-child(odd)::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 62px;
    left: -17px;
    height: 30px;
    width: 25px;
    background-color: #dfd9f4;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }

  .timeline {
    margin-left: 12px;
  }
}

/* publications */
.publications {
  width: 80%;
  margin: auto;
  line-height: 1.5rem;
}

.publications li {
  padding: 0.5rem;
}

/* footer */
footer {
  background: var(--font-color);
  color: black;
  position: fixed;
  min-height: 8vh;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  padding: 0.5rem;
}
